/*common rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/



/*main*/


/*Footer*/




/*Media Query*/

/* X-small*/
@media all and (max-width:575px ) {
    
}

/*Small*/
@media all and (min-width:576px ) and (max-width:767px) {
    
}

/*Medium*/
@media all and (min-width:768px ) and (max-width:991px) {
    
}

/*Large*/
@media all and (min-width:992px) {
    
}