/*common rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
/*header*/
header{
    background-color: #080b12;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

/*main*/
main{
    width: 100vw;
    height: 100vh;
}

aside{
    height: calc(100% - 140px);
    width: 300px;
    background-color: #000;
}

section{
    height: calc(100% - 140px);
    width: calc(100% - 300px);
    background-color: #141922;
}

/*Footer*/
footer{
    background-color: #282828;
    height: 140px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}



/*Media Query*/

/* X-small*/
@media all and (max-width:575px ) {
    
}

/*Small*/
@media all and (min-width:576px ) and (max-width:767px) {
    
}

/*Medium*/
@media all and (min-width:768px ) and (max-width:991px) {
    
}
