/*common rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
/*header*/
header{
    background-color: rgba(8,11,18,0.8);
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
}

header span{
    border: solid 1px #f1f1f2;
    color: #f1f1f2;
    padding: 10px 30px;
    border-radius: 22px;
    font-size: 12px;
    margin-right: 10px;
}

/*main*/
main{
  height: 100vh;
    
}
/*aside*/
aside{ 
    height: calc(100vh - 100px);
    width: 200px;
    background-color: #000;
    color:#5f5f5f;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px; 
}

aside .ul{
    list-style: none;
}
/*logo*/
aside .logo {
    width: 100%;
    padding: 20px;   
}
/*menù dell'aside*/

main .menu i{
    font-size: 28px;
    padding: 5px 10px 5px 20px;
    vertical-align: sub;
}


/*playlist dell'aside*/
.playlist{
    padding: 20px;
}
/*la devi dare al contenuto per averlo nel modo giusto*/
.list{
    height: 126px;
    overflow-y: scroll;
    
}

.list li{
  list-style: none;  
}

/*user dell'aside*/
main .user{
    align-self: flex-end;
    width: 100%;
    padding: 20px;
}
.user .bar{
    width: 90%;
    border-bottom: solid 1px #525252;
}

.user img{
    width: 15px;
    background-color: #808080;
    border-radius: 50%;
}
/*section*/
section{
    height: calc(100% - 100px);
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: scroll;
}

section .central-menu{
    width: 100%;
    padding-top: 85px; 
    justify-content: center; 
    color:#5f5f5f;
}

section .central-menu li{
    list-style: none;
    padding: 10px 10px;
}


/*Footer*/
footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}



/*Media Query*/

/* X-small*/
@media all and (max-width:575px ) {
    header{
        width: calc(100% - 50px); 
    }
    aside{  
        width: 50px;
    }

    section{
        width: calc(100% - 50px);
    }
}

/*Small*/
@media all and (min-width:576px ) and (max-width:767px) {
    
}

/*Medium*/
@media all and (min-width:768px ) and (max-width:991px) {
    
}
